<div class="row">
    <h1>Experiencia laboral</h1>
    
    <div class="col-lg-11">
        <ul>
            <li> <h2>Trabajo 1</h2> - <h3>años</h3></li> 
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing 
                elit. Laudantium ipsam sequi nihil laboriosam sint
                 reiciendis tenetur illum itaque laborum amet, quod fuga 
                rem quia quae ullam architecto saepe autem error.
            </p>
        </ul>
        <ul>
        <li><h2>Trabajo 2</h2> - <h3>años</h3></li> 
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing 
            elit. Laudantium ipsam sequi nihil laboriosam sint
             reiciendis tenetur illum itaque laborum amet, quod fuga 
            rem quia quae ullam architecto saepe autem error.
        </p>
    </ul>
    <ul>
    <li><h2>Trabajo 3</h2>  - <h3>años</h3></li> 
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing 
        elit. Laudantium ipsam sequi nihil laboriosam sint
         reiciendis tenetur illum itaque laborum amet, quod fuga 
        rem quia quae ullam architecto saepe autem error.
    </p>
</ul>
        
    </div>
</div>
