<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../../assets/IMG_20200912_002448.jpg" class="img-fluid rounded float-start" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Altamirano Alba Martina</p>
        <P>Full Stack Developer Jr</P>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur
               adipisicing elit. Aliquid nihil facere
                repudiandae quod vero fugiat totam velit
                 praesentium in adipisci? Quaerat cum 
                 obcaecati fugiat, nihil eum accusantium 
                 ullam suscipit iure.  
            </p>
        </span>
    </div>
</div>
