  <div class="container-fluid">
        <div class="row">
        <div class="col-lg-11">
        <p id="presentacion">Hola, mi nombre es </p>
        <p id="nombre">Altamirano, Alba Martina.</p>
        <P id="ambito"> Full Stack Developer Jr</P>
    </div>
</div>
</div>
 
    <div class="container-fluid">
        <div class="row">
         <div class="col-lg-11">
         <span> 
            <h1>Acerca de mí</h1>
           <p class="sobremi">
              Lorem ipsum dolor sit amet consectetur
               adipisicing elit. Aliquid nihil facere
                repudiandae quod vero fugiat totam velit
                 praesentium in adipisci? Quaerat cum 
                 obcaecati fugiat, nihil eum accusantium 
                 ullam suscipit iure.  
            </p>
        
        
          </span>
<div class="container-fluid">   
<div class="row"> 
    <div class="col-lg-11">
        <img src="../../../assets/fotoperfil.png" class="img-responsive" id="perfil" >
    </div>
    </div>
    
</div>
</div>
