<div>
     
<div class="redes">
    <img src="../../../assets/APLogo.png" id="logo" >
    
    <a href="https://www.facebook.com/alba.altamirano"><img src="../../../assets/facebook.png" id="facebook"></a>

    <a href="https://github.com/albaaltamirano"><img src="../../../assets/github.png" id="github"></a> 
   
    <a href="https://www.instagram.com/albaaltamiran/"><img src="../../../assets/instagram.png" id="instagram"></a>
</div>

</div>
<div>
    <img src="../../../assets/banner.jpg" id="banner">
</div>

