  <div class="conteiner-fluid">
        <div class="row">
        <div class="col-lg-11">
        <p id="presentacion">Hola, mi nombre es </p>
        <p id="nombre">Altamirano Alba Martina</p>
        <P id="ambito"> Full Stack Developer Jr</P>
    </div>
</div>
</div>
 
    <div class="conteiner-fluid">
        <div class="row">
         <div class=".col">
            <img src="../../../assets/fotoperfil.png" class="img-fluid" id="perfil" >     
         <span> 
            <h1>Acerca de mí</h1>
            
           <p id="sobremi">

             Hola mi nombre es altamirano alba
            </p>
          </span>
    
       
  
        
</div>
        </div>
    </div>

