
<div class="row">
    <h1>Estudios</h1>
    
    <div class="col-lg-11">
        <ul>
            <img src="../../../assets/unl virtual.png" alt="" id="unl" width="180" height="55">
            
            <li> <h2>Tecnico Universitario en Informática de Gestión</h2> - <h3>2019-2021</h3></li> 
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing 
                elit. Laudantium ipsam sequi nihil laboriosam sint
                 reiciendis tenetur illum itaque laborum amet, quod fuga 
                rem quia quae ullam architecto saepe autem error.
            </p>
            
        </ul>
        <ul>
            <img src="../../../assets/unl virtual.png" alt="" id="unl" width="180" height="55">
            
           
        <li><h2>Tecnico Universitario Aplicada al Diseño Multimedial y de Sitios Web </h2> - <h3>2021-actualidad</h3></li> 
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing 
            elit. Laudantium ipsam sequi nihil laboriosam sint
             reiciendis tenetur illum itaque laborum amet, quod fuga 
            rem quia quae ullam architecto saepe autem error.
        </p>
    </ul>

    <img src="../../../assets/googleactivate.webp" alt="" id="google" width="110" height="28">
    <ul>
    <li><h2>Principios basicos de progrmacion</h2>  - <h3>2020</h3></li> 
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing 
        elit. Laudantium ipsam sequi nihil laboriosam sint
         reiciendis tenetur illum itaque laborum amet, quod fuga 
        rem quia quae ullam architecto saepe autem error.
    </p>
</ul>
<img src="../../../assets/APLogo.png" alt="" id="argentinaprograma" width="150" height="100">
<ul>
    <li><h2>Estudio 4</h2>  - <h3>años</h3></li> 
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing 
        elit. Laudantium ipsam sequi nihil laboriosam sint
         reiciendis tenetur illum itaque laborum amet, quod fuga 
        rem quia quae ullam architecto saepe autem error.
    </p>
</ul> 
    </div>
</div>